@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-BlackItalic";
    src: url("../fonts/Lato-BlackItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-BoldItalic";
    src: url("../fonts/Lato-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Italic";
    src: url("../fonts/Lato-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-LightItalic";
    src: url("../fonts/Lato-LightItalic.ttf") format("truetype");
}
.container {
    min-height: calc(100vh - 76px);
}

/* HEADER */
.header {
    border: 1px solid #ececec;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
}
.content {
    min-width: 960px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.content__left,
.content__center,
.content__right {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    text-decoration: none;
    width: 161px;
    height: 54px;
    background: #fff url("../img/logo.png") no-repeat 0 50%;
    background-size: 39%;
}
.logo__title {
    font-family: "Lato-Light", sans-serif;
    color: #222;
    font-size: 27px;
    line-height: 61px;
    text-align: center;
    padding-left: 69px;
    padding-top: 5px;
    text-decoration: none;
    margin-top: 10px;
}
.logo__title span {
    font-family: "Lato-Black", sans-serif;
    color: #f16d7f;
}
.logo__title:hover, .logo__title:hover span {
    color: #c73f59;
}
.logo__title:active, .logo__title:active span {
    color: #ff495d;
}
.cart {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 29px;
    margin-right: 15px;
    background: #fff url("../img/cart.svg") no-repeat 20% 50%;
    background-size: 100%;
}
.goods-in-cart {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #f16d7f;
    font-family: "Lato-Bold", sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
}
.content__goods-in-cart {
    position: absolute;
    top: -6px;
    right: -8px;
}
.btn {
    display: inline-block;
    background-color: #f16d7f;
    height: 38px;
    font-family: "Lato-Regular", sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 38px;
    text-align: center;
    margin-left: 4px;
    padding: 0 25px;
    text-decoration: none;
}
.btn:hover {
    background-color: #c73f59;
}
.btn:active {
    background-color: #ff495d;
}
.btn__name {
    display: inline-block;
    height: 38px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 27px;
    line-height: 38px;
    text-align: center;
    margin-left: 4px;
    padding: 0 25px;
    background-color: #fff;
    color: #f16d7f;
}
/* HEADER END */

/* NAV */
nav {
    height: 54px;
}
nav > ul {
    margin: -3px 0 0 -40px;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.menu a {
    color: #222;
    font-family: "Lato-Bold", sans-serif;
    font-size: 14px;
    padding: 19px 13px;
    margin: 0 10px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu a:hover {
    border-bottom: 3px solid #ef5b70;
    padding-bottom: 16px;
}
.menu .active-link-menu {
    border-bottom: 3px solid #ef5b70;
    padding-bottom: 16px;
}
/* NAV END */

/* SLIDER */
.slider {
    height: 663px;
    background: #e8e8e8;
}
.slide{
    opacity: 1;
}
.slide img {
    height: 663px;
}
.slider__text {
    width: 510px;
    height: 92px;
    border-left: 15px solid #f16d7f;
    position: absolute;
    top: 224px;
    left: -2px;
}
.slider__text h1, .slider__text p {
    font-family: "Lato-Black", sans-serif;
    color: #222;
    font-size: 60px;
    text-align: left;
    margin: 0 0 0 11px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 0.7;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.slider__text p {
    font-size: 40px;
    line-height: 1.8;
    word-spacing: 0; }
.slider__text p span {
    color: #f16d7f;
    transform: scaleY(1.0009);
}
.dot {
    cursor:pointer;
    height: 17px;
    width: 17px;
    margin: 4px auto;
    background-color: transparent;
    border: 2px solid #f16d7f;
    border-radius: 50%;
    display: inline-block;
}
.active, .dot:hover {
    background-color: #f16d7f;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
/* SLIDER END*/

/* GALLERY */
.feturedItems {
    display: block;
    text-align: center;
    line-height: 33px;
    margin-top: 95px;
}
.feturedItems h2 {
    color: #222;
    font-family: "Lato-Bold", sans-serif;
    font-size: 30px;
    margin: 0;
    letter-spacing: 1px;
}
.feturedItems p {
    color: #9f9f9f;
    font-family: "Lato-Regular", sans-serif;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.4px;
}
.feturedItems__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 48px;
    margin-bottom: -10px;
}
.gallery-item {
    background-color: #fff;
    width: 260px;
    height: 364px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 13px;
    color: #222;
    text-align: left;
    text-decoration: none;
    position: relative;
    margin-bottom: 40px;
    margin-right: 33px;
}
.gallery-item:nth-child(4n){
    margin-right: 0;
}
.gallery-item p {
    padding-left: 14px;
    margin-top: 20px;
    line-height: 0.7;
    letter-spacing: 0.5px;
}
.gallery-item:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.good-price {
    color: #f16d7f;
    font-family: "Lato-Bold", sans-serif;
    font-size: 16px;
}
.linkToCatalog {
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
    font-family: "Lato-Bold", sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 47px;
    text-align: center;
    margin: 27px auto 114px auto;
    letter-spacing: 0.3px;
}
.linkToCatalog i {
    padding-left: 7px;
}
.linkToCatalog:hover {
    background-color: #c73f59;
}
.linkToCatalog:active {
    background-color: #ff495d;
}
/* GALLERY END */

/* DISCOUNTS */
.features {
    width: 100%;
    background-color: #222224;
    height: 340px;
    color: #fbfbfb;
}
.features .content {
    background-image: none;
    height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.features article {
    padding: 63px 33px 0 33px;
}
.features h3 {
    text-align: center;
    padding: 0;
    font-family: "Lato-Bold", sans-serif;
    color: #fbfbfb;
    font-size: 20px;
    margin: 0;
    letter-spacing: 0.5px;
}
.features p {
    text-align: center;
    padding: 0;
    font-family: "Lato-Light", sans-serif;
    color: #fbfbfb;
    font-size: 14px;
    line-height: 24px;
    margin: 11px 0 22px 0;
    letter-spacing: 0.5px;
}
.features .discount-features__item1 {
    background: #222224 url("../img/Forma4.svg") no-repeat 48% 2%;
}
.features .discount-features__item1 h3 {
    margin-left: -19px;
}
.features .discount-features__item2 {
    background: #222224 url("../img/Forma5.svg") no-repeat 50% 2%;
}
.features .discount-features__item3 {
    background: #222224 url("../img/Forma6.svg") no-repeat 53% 2%;
}
.features .discount-features__item3 h3 {
    padding-left: 17px;
}
/* DISCOUNT END */

/* PRODUCT CARD PAGE */
.new-arrivals {
    width: 100%;
    height: 148px;
    background-color: #f8f3f4;
}
.new-arrivals .content {
    display: flex;
    justify-content: space-between;
}
.new-arrivals h1 {
    font-family: "Lato-Black", sans-serif;
    color: #f16d7f;
    font-size: 24px;
    line-height: 148px;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}
.new-arrivals h3 {
    font-family: "Lato-Light", sans-serif;
    color: #636363;
    font-size: 14px;
    line-height: 148px;
    text-align: right;
    margin: 0;
    text-transform: uppercase;
}
.new-arrivals span {
    font-family: "Lato-Bold", sans-serif;
    color: #f16d7f;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}
.slider-product {
    height: 400px;
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    position: relative;
}
.slider-product img {
    margin: 20px auto;
}
.slider-product .controls {
    width: 47px;
    height: 33px;
    background-color: rgba(42, 42, 42, 0.15);
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    position: absolute;
    padding-top: 13px;
    padding-bottom: 1px;
    top: 364px;
}
.slider-product .controls:hover {
    background-color: rgba(34, 34, 36, 0.67);
}
.slider-product .control-left {
    left: -150px;
}
.slider-product .control-right {
    right: -150px;
}
.description {
    width: 1140px;
    height: 730px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    background-color: #fff;
    margin: -88px auto 0 auto;
    position: relative;
    z-index: 999;
}
.description h3 {
    font-family: "Lato-Bold", sans-serif;
    color: #f16d7f;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: 150px;
    height: 32px;
    margin: 65px auto 0 auto;
    border-bottom: 1px solid #eaeaea;
    text-transform: uppercase;
}
.description .line {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    margin: -2px auto 0 auto;
}
.description h2 {
    font-family: "Lato-Black", sans-serif;
    color: #4d4d4d;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}
.description .description__detailed {
    width: 620px;
    margin: 56px auto 0 auto;
    font-family: "Lato-Light", sans-serif;
    color: #5e5e5e;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.description .description__short {
    width: 620px;
    height: 50px;
    margin: 5px auto 10px auto;
    display: flex;
    justify-content: center;
    font-family: "Lato-Bold", sans-serif;
}
.description .description__short h4 {
    color: #b9b9b9;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin: 12px 22px 0 22px;
    display: inline-block;
}
.description .description__short h4 span {
    color: #2f2f2f;
}
.description h5 {
    width: 642px;
    font-family: "Lato-Bold", sans-serif;
    color: #ef5b70;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    padding-left: 282px;
    padding-bottom: 43px;
    margin: 16px auto 20px auto;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}
.filter-titles {
    display: flex;
    justify-content: center;
    height: 43px;
    margin: 46px 0 0 0;
}
.filter-titles h4 {
    font-family: "Lato-Bold", sans-serif;
    color: #2f2f2f;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    width: 115px;
    margin: 10px 0;
}
.filters {
    display: flex;
    justify-content: center;
    height: 63px;
}
.filters .filter-qty {
    width: 144px;
    text-align: center;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    font-family: "Lato-Regular", sans-serif;
    color: #bcbcbc;
    font-size: 13px;
    line-height: 24px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto;
    outline: none;
}
.filters input[placeholder] {
    font-family: "Lato-Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #bcbcbc;
}
.loginMessage {
    display: none;
    text-align: center;
    color: red;
    font-family: "Lato-Regular", sans-serif;
    font-size: 18px;
}
.addtobasket {
    text-decoration: none;
    display: block;
    background: url("../img/cartRed.svg") no-repeat 41% 50%;
    background-size: 5%;
    border: 1px solid #ef5b70;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Lato-Bold", sans-serif;
    color: #ef5b70;
    font-size: 16px;
    text-align: center;
    width: 537px;
    height: 55px;
    margin: 0 auto;
    padding: 18px 0 0 45px;
    cursor: pointer;
}
.addtobasket:hover {
    color: #fff;
    background: #ef5b70 url("../img/cartWhite.svg") no-repeat 41% 50%;
}
.addtobasket:active {
    background-color: #ff495d;
}
/* PRODUCT CARD PAGE END */

/* REGISTER PAGE */
.contacts-form-wrapper {
    margin: 50px auto;
    width: 500px;
    border: 1px solid #4d6a79;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 12px;
    margin: 6px 0;
    display: block;
    border: 1px solid #4d6a79;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
input[type="submit"],
input[type="reset"] {
    width: 120px;
    background-color: #4d6a79;
    color: white;
    padding: 12px 12px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #394e59;
}
.errorMessage {
    color: red;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top: 0;
}
.form-note {
    color: #adadad;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    margin: 12px 0 6px 22px;
    display: block;
}
/* Successful registration */
.success {
    font-family: "Lato-Bold", sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.5px;
    color: forestgreen;
    margin: 50px auto;
}
.btn__one {
    display: block;
    width: 60px;
    margin: 0 auto;
}
/* REGISTER PAGE END */

/* CART PAGE */
table {
    border-collapse: collapse;
    text-align: center;
    margin-top: 83px;
    width: inherit;
}
th, td {
    border-bottom: 1px solid #eaeaea;
    margin: 0 0 10px 0;
    color: #222;
}
th {
    font-family: "Lato-Bold", sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 19px;
}
td {
    font-family: "Lato-Regular", sans-serif;
}
.col1 {
    text-align: left;
}
.col1 img {
    width: 100px;
    height: 115px;
    padding: 24px 17px 25px 0;
    float: left;
}
.title, .attribute {
    display: block;
    margin-left: 10px;
}
.title {
    font-size: 13px;
    margin: 31px 10px 33px 10px;
}
.attribute {
    color: #575757;
    font-size: 13px;
    line-height: 20px;
    margin: 0 10px 0 10px;
}
.attribute span {
    color: #6f6e6e;
    font-family: "Lato-Light", sans-serif;
}
.attribute-value {
    margin-left: 5px;
}
.td {
    color: #656565;
}
.td input {
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    outline: none;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
.icon-cancel-circled {
    cursor: pointer;
    color: #b5b5b5;
}
.icon-cancel-circled:hover {
    color: #656565;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex__btn {
    margin: 39px 0 0 0;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    background-color: #fff;
    padding: 17px 38px;
    height: 50px;
    font-family: "Lato-Bold", sans-serif;
    color: #4a4a4a;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    outline: none;
}
.flex__btn:hover {
    background-color: #4a4a4a;
    color: #fff;
}
.flex__btn:active {
    background-color: #b2b2b2;
}
.flex__item {
    margin-top: 39px;
    margin-bottom: 70px;
}
.flex__item--card {
    height: 214px;
    background-color: #f5f3f3;
    text-align: right;
}
.itemN {
    width: 360px;
    height: 177px;
}
.h2 {
    font-family: "Lato-Bold", sans-serif;
    color: #222;
    font-size: 16px;
    text-align: left;
}
.item__h2 {
    margin-bottom: 20px;
}
.item2__h2 {
    margin-bottom: 24px;
}
.item3__h2 {
    text-align: right;
    margin: 40px 40px 20px 0;
}
.item3__h2 span {
    margin-left: 15px;
    color: #f16d7f;
}
.line {
    width: 275px;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
}
.item__line {
    margin: 10px auto;
}
.btn--red {
    background-color: #f16d7f;
    font-family: "Lato-Bold", sans-serif;
    color: #fff;
    font-size: 16px;
    width: 273px;
}
.btn--red:hover {
    background-color: #c73f59;
}
.btn--red:active {
    background-color: #ff495d;
}
.item3__btn {
    margin: 6px 43px; }
/*CART PAGE END */

/* FOOTER */
footer {
    width: 100%;
    height: 76px;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}
.content-footer {
    display: flex;
    justify-content: space-between;
}
.copyright {
    font-family: "Lato-Regular", sans-serif;
    color: #7a7a7a;
    font-size: 16px;
    line-height: 42px;
    text-align: left;
}
.copyright p {
    margin-top: 18px;
    letter-spacing: 1px;
}
/* FOOTER END */
